USE [master]
GO
/****** Object:  Database [ClubCamioneros]    Script Date: 10/7/2026 12:59:05 AM ******/
CREATE DATABASE [ClubCamioneros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClubCamioneros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClubCamioneros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClubCamioneros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClubCamioneros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClubCamioneros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClubCamioneros]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[PK_id_pago] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_jugador] [int] NULL,
	[monto_base] [decimal](18, 2) NULL,
	[FK_id_jugador_descuento] [int] NULL,
	[monto_final] [decimal](18, 2) NULL,
	[fecha_pago] [date] NULL,
	[metodo_pago] [varchar](50) NULL,
	[fecha_vencimiento] [date] NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_ESTADO_DEUDA]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================================
   VISTA DINAMICA: VISTA_ESTADO_DEUDA
   ========================================================================= */
CREATE VIEW [dbo].[VISTA_ESTADO_DEUDA] AS
SELECT 
    FK_id_jugador,
    SUM(monto_final) AS deuda_total,
    COUNT(PK_id_pago) AS cantidad_cuotas_vencidas
FROM PAGOS
WHERE estado = 0 AND fecha_vencimiento < GETDATE()
GROUP BY FK_id_jugador;
GO
/****** Object:  Table [dbo].[ASISTENCIAS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIAS](
	[PK_id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_jugador] [int] NULL,
	[FK_id_staff] [int] NULL,
	[fecha_hora] [datetime] NULL,
	[estado_acceso] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[PK_id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [varchar](100) NULL,
	[asociacion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FICHAS_MEDICAS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FICHAS_MEDICAS](
	[PK_id_ficha_medica] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_jugador] [int] NULL,
	[obra_social] [varchar](150) NULL,
	[numero_afiliado_os] [int] NULL,
	[grupo_sanguineo] [varchar](10) NULL,
	[factor] [char](1) NULL,
	[antecedentes_salud] [varchar](255) NULL,
	[medicamentos_cronicos] [varchar](255) NULL,
	[condiciones_cronicas] [varchar](255) NULL,
	[apto_fisico_vencimiento] [date] NULL,
	[observaciones] [varchar](255) NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_ficha_medica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_PARTIDOS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_PARTIDOS](
	[PK_id_partido] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_categoria] [int] NULL,
	[fecha_partido] [date] NULL,
	[rival] [varchar](100) NULL,
	[condicion_localia] [varchar](20) NULL,
	[resultado] [varchar](20) NULL,
	[observaciones] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_partido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES](
	[PK_id_jugador] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_persona] [int] NULL,
	[FK_id_categoria] [int] NULL,
	[club_origen] [varchar](100) NULL,
	[ficha_medica_liga] [bit] NULL,
	[posicion_cancha] [varchar](50) NULL,
	[peso] [decimal](5, 2) NULL,
	[altura] [decimal](4, 2) NULL,
	[pie_habil] [varchar](20) NULL,
	[grupo_sanguineo] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_jugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES_CATEGORIAS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_CATEGORIAS](
	[PK_id_jugador_categoria] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_jugador] [int] NOT NULL,
	[FK_id_categoria] [int] NOT NULL,
	[fecha_asignacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_jugador_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES_DESCUENTOS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_DESCUENTOS](
	[PK_id_jugador_descuento] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_jugador] [int] NULL,
	[FK_id_descuento] [int] NULL,
	[estado_activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_jugador_descuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES_PARTIDOS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_PARTIDOS](
	[PK_id_jugador_partido] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_partido] [int] NULL,
	[FK_id_jugador] [int] NULL,
	[minutos_jugados] [int] NULL,
	[goles] [int] NULL,
	[tarjetas_amarillas] [int] NULL,
	[tarjeta_roja] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_jugador_partido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES_RESPONSABLES]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_RESPONSABLES](
	[PK_id_jugador_responsable] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_responsable] [int] NULL,
	[FK_id_jugador] [int] NULL,
	[parentesco] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_jugador_responsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAS](
	[PK_id_persona] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](50) NULL,
	[fecha_de_nacimiento] [date] NULL,
	[dni] [varchar](20) NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[domicilio] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPONSABLES]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSABLES](
	[PK_id_responsable] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_persona] [int] NULL,
	[email] [varchar](255) NULL,
	[telefono] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_responsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[PK_id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](100) NULL,
	[permisos] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[PK_id_staff] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_CATEGORIAS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_CATEGORIAS](
	[PK_id_staff_categoria] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_staff] [int] NULL,
	[FK_id_categoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_staff_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DESCUENTO]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DESCUENTO](
	[PK_id_descuento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_descuento] [varchar](100) NULL,
	[porcentaje] [int] NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_descuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/7/2026 12:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[PK_id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[FK_id_persona] [int] NULL,
	[FK_id_rol] [int] NULL,
	[email] [varchar](255) NULL,
	[contrasenia] [varchar](255) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON 

INSERT [dbo].[CATEGORIAS] ([PK_id_categoria], [nombre_categoria], [asociacion]) VALUES (1, N'AFA 20067', N'AFA')
INSERT [dbo].[CATEGORIAS] ([PK_id_categoria], [nombre_categoria], [asociacion]) VALUES (2, N'Pt  AFA 2008', N'AFA')
INSERT [dbo].[CATEGORIAS] ([PK_id_categoria], [nombre_categoria], [asociacion]) VALUES (3, N'Pt  AFA 2009', N'AFA')
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[FICHAS_MEDICAS] ON 

INSERT [dbo].[FICHAS_MEDICAS] ([PK_id_ficha_medica], [FK_id_jugador], [obra_social], [numero_afiliado_os], [grupo_sanguineo], [factor], [antecedentes_salud], [medicamentos_cronicos], [condiciones_cronicas], [apto_fisico_vencimiento], [observaciones], [fecha_actualizacion]) VALUES (1, 11, NULL, NULL, N'0', N'+', N'Asma leve controlada.', NULL, N'Esguince tobillo derecho (15/03/2025). Desgarro isquiotibial (22/10/2024). DWADAD. ADAD (21/09/2026).', NULL, N'Apto para competencia. Requiere calentamiento extendido.', NULL)
INSERT [dbo].[FICHAS_MEDICAS] ([PK_id_ficha_medica], [FK_id_jugador], [obra_social], [numero_afiliado_os], [grupo_sanguineo], [factor], [antecedentes_salud], [medicamentos_cronicos], [condiciones_cronicas], [apto_fisico_vencimiento], [observaciones], [fecha_actualizacion]) VALUES (2, 22, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[FICHAS_MEDICAS] ([PK_id_ficha_medica], [FK_id_jugador], [obra_social], [numero_afiliado_os], [grupo_sanguineo], [factor], [antecedentes_salud], [medicamentos_cronicos], [condiciones_cronicas], [apto_fisico_vencimiento], [observaciones], [fecha_actualizacion]) VALUES (3, 23, NULL, NULL, NULL, NULL, N'asma', NULL, N'esguince (23/09/2026). adwadad. desgarro (22/07/2025).', NULL, N'toma ibuprofeno', NULL)
SET IDENTITY_INSERT [dbo].[FICHAS_MEDICAS] OFF
GO
SET IDENTITY_INSERT [dbo].[HISTORIAL_PARTIDOS] ON 

INSERT [dbo].[HISTORIAL_PARTIDOS] ([PK_id_partido], [FK_id_categoria], [fecha_partido], [rival], [condicion_localia], [resultado], [observaciones]) VALUES (1, 1, CAST(N'2026-08-15' AS Date), N'Club Las Palmas', NULL, N'G 2-1', NULL)
INSERT [dbo].[HISTORIAL_PARTIDOS] ([PK_id_partido], [FK_id_categoria], [fecha_partido], [rival], [condicion_localia], [resultado], [observaciones]) VALUES (2, 1, CAST(N'2026-08-22' AS Date), N'General Paz Juniors', NULL, N'E 1-1', NULL)
INSERT [dbo].[HISTORIAL_PARTIDOS] ([PK_id_partido], [FK_id_categoria], [fecha_partido], [rival], [condicion_localia], [resultado], [observaciones]) VALUES (101, 1, CAST(N'2026-03-21' AS Date), N'Almirante Brown', N'Visitante', N'P 2-6', NULL)
SET IDENTITY_INSERT [dbo].[HISTORIAL_PARTIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[JUGADORES] ON 

INSERT [dbo].[JUGADORES] ([PK_id_jugador], [FK_id_persona], [FK_id_categoria], [club_origen], [ficha_medica_liga], [posicion_cancha], [peso], [altura], [pie_habil], [grupo_sanguineo]) VALUES (11, 11, 1, N'Club Local', 1, N'DELANTERO', CAST(72.50 AS Decimal(5, 2)), CAST(1.77 AS Decimal(4, 2)), N'Derecho', N'0+')
INSERT [dbo].[JUGADORES] ([PK_id_jugador], [FK_id_persona], [FK_id_categoria], [club_origen], [ficha_medica_liga], [posicion_cancha], [peso], [altura], [pie_habil], [grupo_sanguineo]) VALUES (12, 12, 1, N'Club Local', 1, N'Defensor', NULL, NULL, NULL, NULL)
INSERT [dbo].[JUGADORES] ([PK_id_jugador], [FK_id_persona], [FK_id_categoria], [club_origen], [ficha_medica_liga], [posicion_cancha], [peso], [altura], [pie_habil], [grupo_sanguineo]) VALUES (13, 13, 1, N'Club Local', 1, N'Mediocampista', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[JUGADORES] OFF
GO
SET IDENTITY_INSERT [dbo].[JUGADORES_CATEGORIAS] ON 

INSERT [dbo].[JUGADORES_CATEGORIAS] ([PK_id_jugador_categoria], [FK_id_jugador], [FK_id_categoria], [fecha_asignacion]) VALUES (3, 23, 12, CAST(N'2026-10-05T00:39:40.330' AS DateTime))
INSERT [dbo].[JUGADORES_CATEGORIAS] ([PK_id_jugador_categoria], [FK_id_jugador], [FK_id_categoria], [fecha_asignacion]) VALUES (4, 11, 1, CAST(N'2026-10-05T22:57:35.713' AS DateTime))
INSERT [dbo].[JUGADORES_CATEGORIAS] ([PK_id_jugador_categoria], [FK_id_jugador], [FK_id_categoria], [fecha_asignacion]) VALUES (6, 23, 1, CAST(N'2026-10-06T02:30:02.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[JUGADORES_CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[JUGADORES_PARTIDOS] ON 

INSERT [dbo].[JUGADORES_PARTIDOS] ([PK_id_jugador_partido], [FK_id_partido], [FK_id_jugador], [minutos_jugados], [goles], [tarjetas_amarillas], [tarjeta_roja]) VALUES (102, 102, 11, 20, NULL, NULL, NULL)
INSERT [dbo].[JUGADORES_PARTIDOS] ([PK_id_jugador_partido], [FK_id_partido], [FK_id_jugador], [minutos_jugados], [goles], [tarjetas_amarillas], [tarjeta_roja]) VALUES (103, 103, 11, 50, NULL, NULL, NULL)
INSERT [dbo].[JUGADORES_PARTIDOS] ([PK_id_jugador_partido], [FK_id_partido], [FK_id_jugador], [minutos_jugados], [goles], [tarjetas_amarillas], [tarjeta_roja]) VALUES (104, 104, 11, 5, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[JUGADORES_PARTIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[JUGADORES_RESPONSABLES] ON 

INSERT [dbo].[JUGADORES_RESPONSABLES] ([PK_id_jugador_responsable], [FK_id_responsable], [FK_id_jugador], [parentesco]) VALUES (1, 1, 36, N'PADRE')
INSERT [dbo].[JUGADORES_RESPONSABLES] ([PK_id_jugador_responsable], [FK_id_responsable], [FK_id_jugador], [parentesco]) VALUES (2, 2, 37, N'tio')
SET IDENTITY_INSERT [dbo].[JUGADORES_RESPONSABLES] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONAS] ON 

INSERT [dbo].[PERSONAS] ([PK_id_persona], [genero], [fecha_de_nacimiento], [dni], [nombre], [apellido], [domicilio]) VALUES (1, N'Masculino', CAST(N'2007-03-15' AS Date), N'47265479', N'JULIAN', N'ARRASCAETA', NULL)
INSERT [dbo].[PERSONAS] ([PK_id_persona], [genero], [fecha_de_nacimiento], [dni], [nombre], [apellido], [domicilio]) VALUES (2, N'Masculino', CAST(N'2007-06-20' AS Date), N'47473488', N'SANTINO DAVID', N'BARRETO', NULL)
INSERT [dbo].[PERSONAS] ([PK_id_persona], [genero], [fecha_de_nacimiento], [dni], [nombre], [apellido], [domicilio]) VALUES (3, N'Masculino', CAST(N'2007-01-10' AS Date), N'47001022', N'LUCIANO', N'CAMMERTONI', NULL)
SET IDENTITY_INSERT [dbo].[PERSONAS] OFF
GO
SET IDENTITY_INSERT [dbo].[RESPONSABLES] ON 

INSERT [dbo].[RESPONSABLES] ([PK_id_responsable], [FK_id_persona], [email], [telefono]) VALUES (1, 1021, N'Lucas.nejo5@gmail.com', N'02954649786')
INSERT [dbo].[RESPONSABLES] ([PK_id_responsable], [FK_id_persona], [email], [telefono]) VALUES (2, 1003, N'adewdawd@gmail.com', N'02954649786')
SET IDENTITY_INSERT [dbo].[RESPONSABLES] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([PK_id_rol], [nombre_rol], [permisos]) VALUES (1, N'Administrador (Tesorero)', N'ACCESO_TOTAL')
INSERT [dbo].[ROLES] ([PK_id_rol], [nombre_rol], [permisos]) VALUES (2, N'Administrativo', N'FINANZAS_PAGOS_DEUDA')
INSERT [dbo].[ROLES] ([PK_id_rol], [nombre_rol], [permisos]) VALUES (3, N'Médico', N'SALUD_FICHAS_MEDICAS')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF] ON 

INSERT [dbo].[STAFF] ([PK_id_staff], [FK_id_usuario]) VALUES (21, 21)
INSERT [dbo].[STAFF] ([PK_id_staff], [FK_id_usuario]) VALUES (22, 22)
INSERT [dbo].[STAFF] ([PK_id_staff], [FK_id_usuario]) VALUES (23, 23)
SET IDENTITY_INSERT [dbo].[STAFF] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF_CATEGORIAS] ON 

INSERT [dbo].[STAFF_CATEGORIAS] ([PK_id_staff_categoria], [FK_id_staff], [FK_id_categoria]) VALUES (2, 24, 6)
INSERT [dbo].[STAFF_CATEGORIAS] ([PK_id_staff_categoria], [FK_id_staff], [FK_id_categoria]) VALUES (3, 24, 5)
INSERT [dbo].[STAFF_CATEGORIAS] ([PK_id_staff_categoria], [FK_id_staff], [FK_id_categoria]) VALUES (5, 24, 1)
SET IDENTITY_INSERT [dbo].[STAFF_CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([PK_id_usuario], [FK_id_persona], [FK_id_rol], [email], [contrasenia], [activo]) VALUES (21, 21, 1, N'mzarate', N'$2a$11$e90NjeQtkxL.zEP7Eb3LwuxMkOR/iwf.yF1P78hCBh3wefMFALORW', 1)
INSERT [dbo].[USUARIOS] ([PK_id_usuario], [FK_id_persona], [FK_id_rol], [email], [contrasenia], [activo]) VALUES (22, 22, 7, N'rdelolmo', N'$2a$12$R9h/cIPz0gi.URNNX3kh2OPST9/PgBkqquzi.Ss7KIUgO2t0jWMUW', 1)
INSERT [dbo].[USUARIOS] ([PK_id_usuario], [FK_id_persona], [FK_id_rol], [email], [contrasenia], [activo]) VALUES (23, 23, 3, N'screspo', N'$2a$12$R9h/cIPz0gi.URNNX3kh2OPST9/PgBkqquzi.Ss7KIUgO2t0jWMUW', 1)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
ALTER TABLE [dbo].[JUGADORES_CATEGORIAS] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[ASISTENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIAS_JUGADORES] FOREIGN KEY([FK_id_jugador])
REFERENCES [dbo].[JUGADORES] ([PK_id_jugador])
GO
ALTER TABLE [dbo].[ASISTENCIAS] CHECK CONSTRAINT [FK_ASISTENCIAS_JUGADORES]
GO
ALTER TABLE [dbo].[ASISTENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIAS_STAFF] FOREIGN KEY([FK_id_staff])
REFERENCES [dbo].[STAFF] ([PK_id_staff])
GO
ALTER TABLE [dbo].[ASISTENCIAS] CHECK CONSTRAINT [FK_ASISTENCIAS_STAFF]
GO
ALTER TABLE [dbo].[FICHAS_MEDICAS]  WITH CHECK ADD  CONSTRAINT [FK_FICHAS_MEDICAS_JUGADORES] FOREIGN KEY([FK_id_jugador])
REFERENCES [dbo].[JUGADORES] ([PK_id_jugador])
GO
ALTER TABLE [dbo].[FICHAS_MEDICAS] CHECK CONSTRAINT [FK_FICHAS_MEDICAS_JUGADORES]
GO
ALTER TABLE [dbo].[HISTORIAL_PARTIDOS]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIAL_CATEGORIA] FOREIGN KEY([FK_id_categoria])
REFERENCES [dbo].[CATEGORIAS] ([PK_id_categoria])
GO
ALTER TABLE [dbo].[HISTORIAL_PARTIDOS] CHECK CONSTRAINT [FK_HISTORIAL_CATEGORIA]
GO
ALTER TABLE [dbo].[JUGADORES]  WITH CHECK ADD  CONSTRAINT [FK_JUGADORES_CATEGORIAS] FOREIGN KEY([FK_id_categoria])
REFERENCES [dbo].[CATEGORIAS] ([PK_id_categoria])
GO
ALTER TABLE [dbo].[JUGADORES] CHECK CONSTRAINT [FK_JUGADORES_CATEGORIAS]
GO
ALTER TABLE [dbo].[JUGADORES]  WITH CHECK ADD  CONSTRAINT [FK_JUGADORES_PERSONAS] FOREIGN KEY([FK_id_persona])
REFERENCES [dbo].[PERSONAS] ([PK_id_persona])
GO
ALTER TABLE [dbo].[JUGADORES] CHECK CONSTRAINT [FK_JUGADORES_PERSONAS]
GO
ALTER TABLE [dbo].[JUGADORES_CATEGORIAS]  WITH CHECK ADD  CONSTRAINT [FK_JUGCAT_CATEGORIAS] FOREIGN KEY([FK_id_categoria])
REFERENCES [dbo].[CATEGORIAS] ([PK_id_categoria])
GO
ALTER TABLE [dbo].[JUGADORES_CATEGORIAS] CHECK CONSTRAINT [FK_JUGCAT_CATEGORIAS]
GO
ALTER TABLE [dbo].[JUGADORES_CATEGORIAS]  WITH CHECK ADD  CONSTRAINT [FK_JUGCAT_JUGADORES] FOREIGN KEY([FK_id_jugador])
REFERENCES [dbo].[JUGADORES] ([PK_id_jugador])
GO
ALTER TABLE [dbo].[JUGADORES_CATEGORIAS] CHECK CONSTRAINT [FK_JUGCAT_JUGADORES]
GO
ALTER TABLE [dbo].[JUGADORES_DESCUENTOS]  WITH CHECK ADD  CONSTRAINT [FK_JUGDESC_JUGADORES] FOREIGN KEY([FK_id_jugador])
REFERENCES [dbo].[JUGADORES] ([PK_id_jugador])
GO
ALTER TABLE [dbo].[JUGADORES_DESCUENTOS] CHECK CONSTRAINT [FK_JUGDESC_JUGADORES]
GO
ALTER TABLE [dbo].[JUGADORES_DESCUENTOS]  WITH CHECK ADD  CONSTRAINT [FK_JUGDESC_TIPODESC] FOREIGN KEY([FK_id_descuento])
REFERENCES [dbo].[TIPOS_DESCUENTO] ([PK_id_descuento])
GO
ALTER TABLE [dbo].[JUGADORES_DESCUENTOS] CHECK CONSTRAINT [FK_JUGDESC_TIPODESC]
GO
ALTER TABLE [dbo].[JUGADORES_PARTIDOS]  WITH CHECK ADD  CONSTRAINT [FK_JUGPART_JUGADOR] FOREIGN KEY([FK_id_jugador])
REFERENCES [dbo].[JUGADORES] ([PK_id_jugador])
GO
ALTER TABLE [dbo].[JUGADORES_PARTIDOS] CHECK CONSTRAINT [FK_JUGPART_JUGADOR]
GO
ALTER TABLE [dbo].[JUGADORES_PARTIDOS]  WITH CHECK ADD  CONSTRAINT [FK_JUGPART_PARTIDO] FOREIGN KEY([FK_id_partido])
REFERENCES [dbo].[HISTORIAL_PARTIDOS] ([PK_id_partido])
GO
ALTER TABLE [dbo].[JUGADORES_PARTIDOS] CHECK CONSTRAINT [FK_JUGPART_PARTIDO]
GO
ALTER TABLE [dbo].[JUGADORES_RESPONSABLES]  WITH CHECK ADD  CONSTRAINT [FK_JugRes_JUGADORES] FOREIGN KEY([FK_id_jugador])
REFERENCES [dbo].[JUGADORES] ([PK_id_jugador])
GO
ALTER TABLE [dbo].[JUGADORES_RESPONSABLES] CHECK CONSTRAINT [FK_JugRes_JUGADORES]
GO
ALTER TABLE [dbo].[JUGADORES_RESPONSABLES]  WITH CHECK ADD  CONSTRAINT [FK_JugRes_RESPONSABLES] FOREIGN KEY([FK_id_responsable])
REFERENCES [dbo].[RESPONSABLES] ([PK_id_responsable])
GO
ALTER TABLE [dbo].[JUGADORES_RESPONSABLES] CHECK CONSTRAINT [FK_JugRes_RESPONSABLES]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_JUGADORES] FOREIGN KEY([FK_id_jugador])
REFERENCES [dbo].[JUGADORES] ([PK_id_jugador])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_JUGADORES]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_JUGDESC] FOREIGN KEY([FK_id_jugador_descuento])
REFERENCES [dbo].[JUGADORES_DESCUENTOS] ([PK_id_jugador_descuento])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_JUGDESC]
GO
ALTER TABLE [dbo].[RESPONSABLES]  WITH CHECK ADD  CONSTRAINT [FK_RESPONSABLES_PERSONAS] FOREIGN KEY([FK_id_persona])
REFERENCES [dbo].[PERSONAS] ([PK_id_persona])
GO
ALTER TABLE [dbo].[RESPONSABLES] CHECK CONSTRAINT [FK_RESPONSABLES_PERSONAS]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_USUARIOS] FOREIGN KEY([FK_id_usuario])
REFERENCES [dbo].[USUARIOS] ([PK_id_usuario])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_USUARIOS]
GO
ALTER TABLE [dbo].[STAFF_CATEGORIAS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFCAT_CATEGORIAS] FOREIGN KEY([FK_id_categoria])
REFERENCES [dbo].[CATEGORIAS] ([PK_id_categoria])
GO
ALTER TABLE [dbo].[STAFF_CATEGORIAS] CHECK CONSTRAINT [FK_STAFFCAT_CATEGORIAS]
GO
ALTER TABLE [dbo].[STAFF_CATEGORIAS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFCAT_STAFF] FOREIGN KEY([FK_id_staff])
REFERENCES [dbo].[STAFF] ([PK_id_staff])
GO
ALTER TABLE [dbo].[STAFF_CATEGORIAS] CHECK CONSTRAINT [FK_STAFFCAT_STAFF]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PERSONAS] FOREIGN KEY([FK_id_persona])
REFERENCES [dbo].[PERSONAS] ([PK_id_persona])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PERSONAS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROLES] FOREIGN KEY([FK_id_rol])
REFERENCES [dbo].[ROLES] ([PK_id_rol])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROLES]
GO
USE [master]
GO
